/* Neutrals */
$neutral-lightest-color: #F0F0F2;
$neutral-extralight-color: #E0E2E6;
$neutral-light-color: #C0C2C8;
$neutral-medium-color: #9EA0A5;
$neutral-dark-color: #7F8185;
$neutral-extradark-color: #5E5F63;
$neutral-darkest-color: #202122;

/* Primary */
$primary-light-color: #0B0E3A;
$primary-medium-color: #060725;
$primary-dark-color: #020318;

/* Secondary */
$secondary-light-color: #EF4C84;
$secondary-medium-color: #D31450;
$secondary-dark-color: #8C1038;

/* Accent 1 */
$accent-light-color: #00BFC1;
$accent-medium-color: #009598;
$accent-dark-color: #006C6E;
