@use "../_colors";
@use "../_globals";

.filter {
  &-mobile {
    display: flex;
    margin-top: 0.75rem;

    .dropdown {
      margin-right: 1rem;
    }

    // For very small screens
    @media screen and (max-width: 560px) {
      display: block;

      .dropdown:first-child {
        margin-bottom: 1rem;
      }
    }
  }

  &-desktop {
    align-items: center;
    background-color: colors.$neutral-lightest-color;
    border: 1px solid colors.$neutral-extralight-color;
    border-radius: 1rem;
    margin: 0 1rem;
    padding: 0 1.25rem 1rem 1.25rem;

    .title {
      align-items: center;
      color: colors.$neutral-darkest-color;
      display: flex;

      .icon {
        fill: colors.$neutral-darkest-color;
        padding-right: 0.5rem;
      }
    }

    fieldset {
      border: none;
      margin: 0;
      padding: 0;

      h4 {
        margin: 0;
      }

      .filter-list {
        margin: 0;
        overflow: hidden;
        padding: 0 0 1rem 0;

        li {
          border-bottom: 1px solid colors.$neutral-extralight-color;
          color: colors.$neutral-extradark-color;
          list-style: none;
          margin: 0.5rem 0;
          position: relative;

          &:hover {
            color: colors.$accent-dark-color;
          }

          input {
            cursor: pointer;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;

            &::before {
              width: 10px;
              height: 10px;
              background-color: #fff;
            }

            &:checked + label {
              background-color: rgba(0, 191, 193, 0.05);
              border: 1px solid colors.$accent-dark-color;
              border-radius: 12px;
              color: colors.$accent-dark-color;
            }
          }

          label {
            border: 1px solid transparent;
            cursor: pointer;
            display: inline-block;
            padding: 0.4rem;
            width: calc(100% - 1rem);
          }
        }
      }
    }

    .button {
      margin-top: 1rem;
      width: 100%;
    }

    // Tablet & Mobile
    @media screen and (max-width: 1024px) {
      display: none;
    }
  }

  &-mobile {
    // Desktop
    @media screen and (min-width: 1025px) {
      display: none;
    }
  }
}
