.blog-content {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;

    .nav-left {
        display: none;
    }

    .blog-list {        
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
}

/* Desktop */
@media screen and (min-width: 769px) {
    .blog-content {
        padding: 2rem;

        .nav-left {
            display: block;
            width: 25%;
        }
        
        .blog-list {
            width: 75%;
        }
    }
}